<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roll-Dice</title>
</head>
<body>

<h1>Pick a number!</h1>

<form action="/roll-dice/n" method="POST">
    <input  type="submit" name="n" value="1">
    <input  type="submit" name="n" value="2">
    <input  type="submit" name="n" value="3">
    <input  type="submit" name="n" value="4">
    <input  type="submit" name="n" value="5">
    <input  type="submit" name="n" value="6">
</form>

<!-- RESULTS -->
<h1> <p th:text="${'Number your chooes is ' + number}"></p></h1>
<h1>The random number is: <span th:text="${randomNum}"></span></h1>
<h2 th:if="${rs == true}">Correctly!!!!!!!</h2>
<h2 th:if="${rs == false}">Wrong!</h2>

</body>
</html>
